h5py==2.10.0
tqdm==4.45.0
mayavi==4.7.1
torch==1.4.0+cu100 -f <https://download.pytorch.org/whl/torch_stable.html>
pointnet2_ops==3.0.0
trimesh==3.6.30
numpy==1.17.4
pyrender==0.1.39
matplotlib==3.1.1
easydict==1.9
opencv_python==4.2.0.34
PyYAML==5.4
tensorboardX==2.0
python-fcl
rtree
